<div class="d-flex flex-column justify-content-center text-center p-0 index">
    <h1>Welcome to the Student Platform!</h1>
    <h2 id="header-second-text" class="mt-4">Transform Ideas &middot; Share Knowledge</h2>
</div>

<div class="d-flex align-items-center justify-content-center text-center sign-up">
    <div class="w-100 d-flex flex-column justify-content-around pt-3 pr-5 pl-5" id="sign-up-form">
        <div class="w-100 p-0 text-left">
            <h3>Join us!</h3>
            <p class="sign-up-em">ARE YOU AN IRONHACKER?
            </p>
            <p class="sign-up-text">Join this community made for UX and Web students.
                <br>Find the projects of different students, contact them and build new ideas!</p>
        </div>
        <form class="needs-validation d-flex" action="/auth/signup" method="POST" id="sign-up-form-container" novalidate>
            <div class="col-md-4 p-2">
                <input class="form-control" id="sign-up-email" type="email" name="email" placeholder="Email" required>
                <div class="invalid-feedback position-absolute">
                    Invalid email.
                </div>
            </div>
            <div class="col-md-4 p-2">
                <input class="form-control" id="sign-up-password" type="password" name="password" placeholder="Password" required>
                <div class="invalid-feedback position-absolute">
                    You should have a password!
                </div>
            </div>
            <div class="col-md-4 p-2">
                <button type="submit" class="btn btn-primary m-0 w-100">Sign up</button>
            </div>
        </form>
        <div class="w-100 text-center">
            <p class="sign-up-em already-account">ALREADY HAVE AN ACCOUNT?
                <a href="#" id="login-in-sign-up" data-toggle="modal" data-target="#loginModal">LOG-IN HERE</a>
            </p>
        </div>
    </div>
</div>