{{#if user.fullName}}
<h1>Welcome {{user.fullName}}</h1>
{{else}}
<h1>Welcome {{user.email}}</h1>
{{/if}}

<p class="alert alert-light">
  <a href="/user/edit">Edit your profile</a>
</p>

{{#unless user.isActive}}
<h2>You need to activate your account.</h2>
<h3>Please, check your email</h3>
{{/unless}}