// Media query variables
@media (max-width: 767px) {
  nav {
    text-align: left;
    li {
      font-size: 1.2em;
      display: flex;
      height: 50px;
    }
  }

  .container {
    margin: 0;
  }

  .card {
    margin: 0 auto;
  }

  #login-btn-nav {
    display: flex;
    justify-content: center;
  }

  .user-menu-dropdown {
    display: none;
  }

  .user-menu {
    display: inline-block;
    z-index: 1000;
  }

  #sign-up-form {
    height: 550px !important;
  }
  #sign-up-form-container {
    flex-direction: column;
    .col-md-4 {
      margin-bottom: 30px;
    }
  }

  .event-description,
  .event-atendees {
    width: 100%;
  }

  .event-atendees-item {
    margin-bottom: 20px;
  }

  .event-right {
    padding: 0 15px;
  }

  #post-content {
    width: 90% !important;
    h1 {
      text-align: center;
    }
  }

  .post-comment {
    width: 90% !important;
  }

  #sign-up-form {
    height: 550px !important;
  }
  #sign-up-form-container {
    flex-direction: column;
    .col-md-4 {
      margin-bottom: 30px;
    }
  }
}
