.post-tips {
  position: absolute;
  left: 5%;
  top: 15%;
  text-align: center;
  width: 250px;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 2px 8px #acacac;
}

.hidden {
  display: none;
}

.post-container {
  background-color: #ffffff;
}

#post-content {
  white-space: pre-wrap;
}

/*************************************************************************/

.card {
  padding: 0 !important;
  position: relative;
  border-radius: 6px;
  width: 30%;
  margin: 0 1%;

  &-top {
    height: 200px;

    img {
      height: 100%;
      max-width: 100%;
    }
  }

  &-author {
    position: absolute;
    top: 190px;
    left: 15px;
    
    img {
      width: 46px;
      height: 46px;
      background: white;
      border-radius: 50%;
      border: 2px solid #cecece;
    }
  }

  &-title {
    margin-left: 60px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  &-text {
    color: #7d7d7d;
    font-size: 16px;
  }

  .read-more {
    font-size: 16px;
    background-color: #008EA1;
    border-radius: 4px;
    border-color: #008ea1;
  }
}
