<div class="container w-75">
    <form class="needs-validation" action="/post/new" method="POST" id="new-post" {{!-- enctype="multipart/form-data" --}} novalidate>
        <div class="form-row">
            <div class="col-md-12 mb-3 mt-5">
                <input minlength="10" type="text" class="form-control" name="title" placeholder="Title" required>
                <div class="invalid-feedback">
                    Your post title should have at least 10 characters.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <select class="custom-select" name="type" id="post-type" required>
                        <option value="">Select type</option>
                        <option value="Post">Post</option>
                        <option value="Event">Event</option>
                    </select>
                    <div class="invalid-feedback">Choose your post type</div>
                </div>
            </div>
           <div class="col-md-12 mb-3 hidden" id="form-event-address">
                <input minlength="10" type="text" id="input-event-address" class="form-control" name="address" placeholder="Address">
                <div class="invalid-feedback">
                    Your address should have at least 10 characters.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12 mb-3 hidden" id="form-event-date">
                <input minlength="10" type="date" id="input-event-date" min="" class="form-control" name="date" placeholder="Date">
            </div>
            <div class="col-md-12 mb-3 hidden" id="form-event-time">
                <input minlength="10" type="time" id="input-event-time" min="" class="form-control" name="time" placeholder="Time">
            </div>
            <div class="col-md-12 mb-3">
                <textarea minlength="20" class="form-control" rows="5" name="content" placeholder="Start writing!" required></textarea>
                <div class="invalid-feedback">
                    Your post should have at least 20 characters.
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="submitImage" name="image">
                    <label class="custom-file-label" for="submitImage">Share an image</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Create new post">Share Post</button>
    </form>

</div>

{{!-- <div class="hidden post-tips" id="post-tips-container">
    <div class="d-flex flex-column justify-content-around p-3" id="post-tips">
        <p class="mb-2">Share something about your daily life in Ironhack!</p>
        <p class="m-0">What kind of project are you doing today?</p>
    </div>
</div> --}}