<div class="container w-75">
    <form class="needs-validation" action="/event/new" method="POST" id="new-post" enctype="multipart/form-data" novalidate>
        <div class="form-row">
            <div class="col-md-12 mb-3 mt-5">
                <input minlength="10" type="text" class="form-control" name="title" placeholder="Title" required>
                <div class="invalid-feedback">
                    Your event title should have at least 10 characters.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
           <div class="col-md-12 mb-3" id="form-event-address">
                <input minlength="10" type="text" id="input-event-address" class="form-control" name="address" placeholder="Address" required>
                <div class="invalid-feedback">
                    Your address should have at least 10 characters.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-12 mb-3" id="form-event-date">
                <input minlength="10" type="date" id="input-event-date" min="" class="form-control" name="date" placeholder="Date" required>
            </div>
            <div class="col-md-12 mb-3" id="form-event-time">
                <input minlength="10" type="time" id="input-event-time" min="" class="form-control" name="time" placeholder="Time" required>
            </div>
            <div class="col-md-12 mb-3">
                <textarea minlength="20" class="form-control" rows="5" name="content" placeholder="Describe your event!" required></textarea>
                <div class="invalid-feedback">
                    Your event should have at least 20 characters.
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="submitImage" name="image">
                    <label class="custom-file-label" for="submitImage">Share an image</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" data-toggle="tooltip" title="Create new event">Create Event</button>
    </form>

</div>